<!--
************************************************************************

              WebTrilinos: A Web Interface to Trilinos
                 Copyright (2006) Sandia Corporation

Under terms of Contract DE-AC04-94AL85000, there is a non-exclusive
license for use of this work by or on behalf of the U.S. Government.

This library is free software; you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of the
License, or (at your option) any later version.
 
This library is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
 
You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301
USA

Questions about WebTrilinos? Contact Marzio Sala (marzio.sala _AT_ gmail.com)

************************************************************************
-->

<img src=../img/webtrilinos_logo.jpg height=60>

<br>
<h1>Basic Requirements</h1>

<p>Please check the following:
<ol>
<li>
The first thing you need is an installed (and working!) version of
Trilinos. The following packages must be installed: Teuchos, Epetra,
EpetraExt, Amesos, IFPACK, AztecOO, ML. You also need to enable PyTrilinos by
adding <tt>--enable-python</tt> to your Trilinos configure script. Finally,
you must have installed Trilinos by typing <tt>make install</tt> at the top
Trilinos directory.

<br>
<br>
<li><b>IMPORTANT</b>: You probably want to add a password protection to the directories 
  <tt>WebTrilinos/c++</tt> and <tt>WebTrilinos/python</tt>! Instructions
on how to do it can be found 
<a href=http://httpd.apache.org/docs/1.3/howto/auth.html>here</a>. The
MatrixPortal module can be left without protections, depending on your needs.
<br>
<br>
<li>
You need PHP installed on your system. PHP must process both <tt>.php</tt> and
<tt>.html</tt> files. The line below should not contain any <tt>&lt;?</tt> or
<tt>?&gt;</tt>. If it does, check your web server installation, to be sure
that PHP takes care of <tt>.html</tt> as well.

<P>
<font color=blue>
<? echo "Simple test for PHP!"; ?>
</font>

<br>
<br>
<li>
<p>You need <tt>convert</tt> installed on your system. Below you have the
location of <tt>convert</tt> as defined by <tt>/bin/env</tt>.
<p>
<font color=blue>
  <? passthru("echo /bin/env convert"); ?>. 
</font>
<p>If nothing is found, then you
will not be able to plot the sparsity pattern in the MatrixPortal module.

<br>
<br>
<li>You need PyChart to plot results in the MatrixPortal module. If you don't
have it, you can still WebTrilinos, but without
graphs in the MatrixPortal module. PyChart can be downloaded at the web page
<a href=http://home.gna.org/pychart/>http://home.gna.org/pychart/</a>.  Below
you have the output of <tt>python -c "from pychart import *"</tt>. If nothing
is reported, PyChart is correctly installed on your system.
<br>
<? passthru("python -c 'from pychart import *'"); ?>
</ol>

<br>
<br>
Go to the <a href=setup.html>setup</a> page, or go back to the
<a href="../index.html">home page</a>.
<br>
<p>For more details, please check the official
<a href=http://trilinos.sandia.gov/packages/webtrilinos>WebTrilinos'
  web page</a>.
