<!--
************************************************************************

              WebTrilinos: A Web Interface to Trilinos
                 Copyright (2006) Sandia Corporation

Under terms of Contract DE-AC04-94AL85000, there is a non-exclusive
license for use of this work by or on behalf of the U.S. Government.

This library is free software; you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of the
License, or (at your option) any later version.
 
This library is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
 
You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301
USA

Questions about WebTrilinos? Contact Marzio Sala (marzio.sala _AT_ gmail.com)

************************************************************************
-->
<img src=../img/webtrilinos_logo.jpg height=60>

<h1>Setup Page</h1>

<?
$WebTrilinosDirectory = $_POST["WebTrilinosDirectory"];
$HTMLImageDirectory   = $_POST["HTMLImageDirectory"];
$TempDirectory        = $_POST["TempDirectory"];
$INCLUDES             = $_POST["INCLUDES"];
$LDFLAGS              = $_POST["LDFLAGS"];
$LIBS                 = $_POST["LIBS"];
$PYTHONPATH           = $_POST["PYTHONPATH"];
$CXX                  = $_POST["CXX"];
$WebHost              = $_POST["WebHost"];
$Password             = $_POST["Password"];

if ($_POST["mode"] != "")
{
  echo "<h2>This is the generated <tt>config.php</tt> file. Please copy the ";
  echo "text below into <tt>$WebTrilinosDirectory/common/config.php</tt>. ";
  echo "You might want to keep a copy of the original <tt>config.php</tt> file. ";
  echo "Note that the &lt;? and ?&gt; characters must be included in the file, ";
  echo "and that each variable content must be on the same line.";
  echo "</h2>";
  echo "<font color=red>";
  echo "<tt>&lt;?</tt><br>";
  echo '<tt>$WebTrilinosDirectory = "'. $WebTrilinosDirectory . '";</tt><br>';
  echo '<tt>$HTMLImageDirectory   = "'. $HTMLImageDirectory . '/tmp/";</tt><br>';
  echo '<tt>$TempDirectory        = "'. $TempDirectory . '";</tt><br>';
  echo '<tt>$INCLUDES             = "'. $INCLUDES . '";</tt><br>';
  echo '<tt>$LDFLAGS              = "'. $LDFLAGS . '";</tt><br>';
  echo '<tt>$LIBS                 = "'. $LIBS . '";</tt><br>';
  echo '<tt>$PYTHONPATH           = "'. $PYTHONPATH . '";</tt><br>';
  echo '<tt>$CXX                  = "'. $CXX . '";</tt><br>';
  echo '<tt>$WebHost              = "'. $WebHost . '";</tt><br>';
  echo '<tt>$HBMatrixDirectory    = "'. $WebTrilinosDirectory .  '/data/HB/";</tt><br>';
  echo '<tt>$MMMatrixDirectory   = "'. $WebTrilinosDirectory .  '/data/MM/";</tt><br>';
  echo '<tt>$XMLMatrixDirectory   = "'. $WebTrilinosDirectory .  '/data/XML/";</tt><br>';
  echo '<tt>$ImageDirectory       = "'. $WebTrilinosDirectory .  '/tmp/";</tt><br>';
  echo '<tt>$Password             = "'. $Password .  '";</tt><br>';
  echo "<tt>?&gt;</tt>";
  echo "</font>";
  echo "<br><br>";
  echo "<h2>This is instead the generated <tt>config.py</tt> file. Please copy the";
  echo " text below into <tt>$WebTrilinosDirectory/common/config.py</tt>. ";
  echo "</h2>";
  echo "<font color=red>";
  echo "<tt>MAX_MATRIX_ROWS = 256 * 256</tt><br>";
  echo "<tt>MAX_MATRIX_NONZEROS = 256 * 256 * 5</tt><br>";
  echo "<tt>MAX_ITERATIONS = 1550</tt><br>";
  echo "<tt>MAX_KSPACE = 60</tt><br>";
  echo '<tt>HB_REPOSITORY = "' . $WebTrilinosDirectory . '/data/HB"</tt><br>';
  echo '<tt>MM_REPOSITORY = "' . $WebTrilinosDirectory . '/data/MM"</tt><br>';
  echo '<tt>XML_REPOSITORY = "' . $WebTrilinosDirectory . '/data/XML"</tt><br>';
  echo "</font>";
  echo "<hl>";
  echo "<br>";
  echo "<br>";
  echo "If these settings are correct, proceed to the ";
  echo "<a href=testing.html>testing</a> page.";
  echo "<br>";
  echo "<br>";
  echo "<br>";
  echo "<br>";
}

?>

<p>The settings for WebTrilinos are contained in the file
<tt>WebTrilinos/common/config.php</tt>. The simplest way to update this file
is to read this page, and fill the form below. Then, by clicking on the button
at the bottom of the page, you'll have the <tt>config.php</tt> for your
system. File <tt>WebTrilinos/common/config.html</tt> explains the content of
the file.

<br>
<br>
<form method="POST" action=setup.html>
  <p>Please specify the location of the WebTrilinos files. The files
  in this directory must be in the location of your httpdocs, as specified by
  your web server. If you are looking at this page from the web,
  your already know the location of your httpdocs! A possible value could be
  <tt>/var/www/html/WebTrilinos</tt>.
  <br><input type="text" name=WebTrilinosDirectory
  value="<? global $WebTrilinos; echo $WebTrilinosDirectory;?>" size=60>

  <P>
  <p>Please specify the HTTP location of the web site hosting WebTrilinos.
  A typical value is of type <tt>http://my.site.com/WebTrilinos/</tt>.
  <br><input type="text" name=HTMLImageDirectory 
  value="<? global $HTMLImageDirectory; echo $HTMLImageDirectory;?>" size=60>

  <P>
  <p>Please specify the location of the temp files directory. These files do
  not need to be accessible from the web. A 
  typical value is <tt>/tmp/</tt>.
  <br><input type="text" name=TempDirectory 
  value="<? global $TempDirectory; echo $TempDirectory;?>" size=60>

  <P>
  <p>Please specify the location of Trilinos' header files.
  A typical value is <tt>-I/my_trilinos_home/LINUX_SERIAL/include/</tt>
  (note the <tt>-I</tt> before the directory; you might need more than
  one -I&lt;dir&gt;).
  <br><input type="text" name=INCLUDES 
  value="<? global $INCLUDES; echo $INCLUDES;?>" size=60>

  <P>
  <p>Please specify the LDFLAGS for the linking of Trilinos'
  examples. A typical value is 
  <tt>-L/my_trilinos_home/LINUX_SERIAL/lib/</tt>
  (note the <tt>-L</tt> before the directory; you might need more than
  one directory, like for instance also <tt>-L/my/home/lib</tt>).
  <br><input type="text" name=LDFLAGS 
  value="<? global $LDFLAGS; echo $LDFLAGS;?>" size=60>

  <P>
  <p>Please specify the LIBS for the linking of Trilinos'
  examples. A typical value can be:
  <tt>-lml -lifpack -laztecoo -lamesos -lgaleri -lepetraext -lepetra -lteuchos
    -llapack -lblas</tt>. You might need <tt>-lf2c -lm</tt>, depending on the
  installations. Other Trilinos third-party libraries may be needed as well
  (for example, <tt>-lmetis</tt> depending on your configuration). If you
  don't know how to specify this variable, you can jump into the build
  directory, go to <tt>packages/WebTrilinos/c++/examples/ml</tt>, 
  type <tt>make</tt>, and give a look to the linked libraries.
  <br><input type="text" name=LIBS 
  value="<? global $LIBS; echo $LIBS;?>" size=60>

  <P>
  <p>Please specify the full path for python packages. The variable below will
  be used to set <tt>PYTHONPATH</tt> before running Python; if more than one
  path is needed, you can use <tt>:</tt> to divide them (without spaces).
  A typical value is:
  <tt>my_trilinos_home/LINUX_SERIAL/lib/python2.4/site-packages/</tt>.
  <br><input type="text" name=PYTHONPATH 
  value="<? global $PYTHONPATH; echo $PYTHONPATH;?>" size=60>

  <P>
  <p>Please specify the C++ compiler to be used. 
  A typical value is <tt>g++</tt>.
  <br><input type="text" name=CXX
  value="<? global $CXX; echo $CXX;?>" size=60>

  <P>
  <p>Please specify the name of the web server hosting WebTrilinos. This
  string will appear at the bottom of the page. You can leave this blank if
  you want.
  <br><input type="text" name=WebHost 
  value="<? global $WebHost; echo $WebHost;?>" size=60>

  <P>
  <p>Please specify the a password for the upload section of MatrixPortal.
  Trusted users will be able to upload matrices in Harwell/Boeing,
  MatrixMarket and XML format.
  <br><input type="text" name=Password 
  value="<? global $Password; echo $Password;?>" size=60>
  <p>
  <p>

  <input type=submit class=submitPrimary value="generate config.php" name="mode">
</form>

<br>
<br>
Go to the <a href=testing.html>setup</a> testing, or go back to the
<a href="../index.html">home page</a>.
<br>
<p>For more details, please check the official
<a href=http://trilinos.sandia.gov/packages/webtrilinos>WebTrilinos'
  web page</a>.
