<!--
************************************************************************

              WebTrilinos: A Web Interface to Trilinos
                 Copyright (2006) Sandia Corporation

Under terms of Contract DE-AC04-94AL85000, there is a non-exclusive
license for use of this work by or on behalf of the U.S. Government.

This library is free software; you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of the
License, or (at your option) any later version.
 
This library is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
 
You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301
USA

Questions about WebTrilinos? Contact Marzio Sala (marzio.sala _AT_ gmail.com)

************************************************************************
-->
<img src=../img/webtrilinos_logo.jpg height=60>

<?
include 'config.php';
?>

<h1>Testing Page</h1>

<ol>
  <li>We try to <tt>touch</tt> a file in  <tt>
    <? global $WebTrilinosDirectory; echo $WebTrilinosDirectory; ?>/tmp/</tt>. Remember that
  you have to use <tt>chmod go+rwx WebTrilinos/tmp</tt>, since PHP does not
  operate as "you". If nothing is reported below, this test is fine.
  <?
  global $WebTrilinosDirectory;
  $ourFileName = $WebTrilinosDirectory . "/tmp/test";
  if (!$ourFileHandle = fopen($ourFileName, 'w'))
  {
    echo "<FONT COLOR=RED>";
    echo "<P>can't open file: CHECK PERMISSIONS by executing the command:";
    echo "<br><tt>chmod go+rwx $WebTrilinosDirectory/tmp</tt>";
    echo "<br>then reload this page.";
    echo "</FONT>";
  }
  fclose($ourFileHandle);
  ?>

  <br><br>
  <li>We try to <tt>touch</tt> a file in  <tt>
    <? global $HBMatrixDirectory; echo $HBMatrixDirectory; ?></tt> and
  <tt><? global $XMLMatrixDirectory; echo $XMLMatrixDirectory; ?></tt>. Remember that
  you have to use <tt>chmod go+rwx 
    <? global $HBMatrixDirectory; echo $HBMatrixDirectory; ?></tt>, then
  <tt>chmod go+rwx 
    <? global $XMLMatrixDirectory; echo $XMLMatrixDirectory; ?></tt>, 
  since PHP does not operate as "you". If nothing is reported below,
  this test is fine.
  <?
  global $HBMatrixDirectory;
  global $XMLMatrixDirectory;
  $ourFileName = $HBMatrixDirectory . "/delete.me";
  if (!$ourFileHandle = fopen($ourFileName, 'w'))
  {
    echo "<FONT COLOR=RED>";
    echo "<P>can't open file: CHECK PERMISSIONS by executing the command:";
    echo "<br><tt>chmod go+rwx $HBMatrixDirectory</tt>";
    echo "<br>then reload this page.";
    echo "<br>Last PHP error that occured: <FONT COLOR=BLUE>$php_errormsg</FONT>";
    echo "</FONT>";
  }
  fclose($ourFileHandle);

  $ourFileName = $XMLMatrixDirectory . "/delete.me";
  if (!$ourFileHandle = fopen($ourFileName, 'w'))
  {
    echo "<FONT COLOR=RED>";
    echo "<P>can't open file: CHECK PERMISSIONS by executing the command:";
    echo "<br><tt>chmod go+rwx $HBMatrixDirectory</tt>";
    echo "<br>then reload this page.";
    echo "</FONT>";
  }
  fclose($ourFileHandle);
  ?>

  <br>
  <br>
  <li>
  We now try to execute a simple c++ program. The program is:
<pre>
#include &#060iostream>
#include &#060cstdlib>

int main(int argc, char* argv[])
{
  std::cout << "Hello, WebTrilinos World!" << std::endl;
  return(EXIT_SUCCESS);
}
</pre>
  The output is reported below, and it should contain the hello message. 
  If it does not, please check your installation, then reload this page.
  Problems may arise from incorrect location of header files, LDFLAGS, or
  LIBS.
<pre>
<?
$program = "";
$program .= "#include <iostream>\n";
$program .= "#include <cstdlib>\n";
$program .= "int main(int argc, char* argv[]) {\n";
$program .= '  std::cout << "Hello, WebTrilinos World!" << std::endl;';
$program .= " return(EXIT_SUCCESS); } \n";

global $TempDirectory;
global $CXX;

$timestamp = date("y-m-d_H.i.s", time());

$configFileName = "$TempDirectory/WebTrilinos/$timestamp.cpp";
$configExe = "$TempDirectory/WebTrilinos/test1-$timestamp.exe";
if(!is_dir("$TempDirectory/WebTrilinos"))
  mkdir("$TempDirectory/WebTrilinos", 0777);

$configFile = fopen($configFileName, 'w')
  or die("can't open $configFileName: $php_errormsg");
if (-1 == fwrite($configFile, $program)) { 
  die("can't write to $configFileName: $php_errormsg"); }
fclose($configFile);

echo "<font color=blue>";
passthru("$CXX $configFileName -o $configExe 2>&1 && $configExe 2>&1");
passthru("/bin/rm -f $configExe");
echo "</font>";

?>
</pre>

  <br>
  <br>
  <li>
  We now try to execute a simple c++ program that uses Epetra. The program is:
<pre>
#include &#060iostream>
#include "Epetra_ConfigDefs.h"
#include "Epetra_SerialComm.h"

int main(int argc, char* argv[])
{
  Epetra_SerialComm Comm;
  std::cout << Comm;
  return(EXIT_SUCCESS);
}
</pre>
  The output is reported below, and it should contain the printout of the
  Epetra communicator object.
  If it does not, please check your installation, then reload this page.
  Recall that you need to <tt>make install</tt> Trilinos to use WebTrilinos.
  Problems may arise from the incorrect location of header files, LDFLAGS,
  LIBS.
<pre>
<?
$program = "";
$program .= "#include <iostream>\n";
$program .= '#include "Epetra_ConfigDefs.h"' . "\n";
$program .= '#include "Epetra_SerialComm.h"' . "\n";
$program .= "int main(int argc, char* argv[]) {\n";
$program .= 'Epetra_SerialComm Comm;std::cout << Comm;';
$program .= " return(EXIT_SUCCESS); } \n";

global $TempDirectory;
global $INCLUDES;
global $LDFLAGS;
global $LIBS;
global $CXX;

$timestamp = date("y-m-d_H.i.s", time());

$configFileName = "$TempDirectory/WebTrilinos/$timestamp.cpp";
$configExe = "$TempDirectory/WebTrilinos/test2-$timestamp.exe";
if(!is_dir("$TempDirectory/WebTrilinos"))
  mkdir("$TempDirectory/WebTrilinos", 0777);

$configFile = fopen($configFileName, 'w')
  or die("can't open $configFileName: $php_errormsg");
if (-1 == fwrite($configFile, $program)) { 
  die("can't write to $configFileName: $php_errormsg"); }
fclose($configFile);

echo "<font color=blue>";
passthru("$CXX $configFileName $INCLUDES $LDFLAGS $LIBS -o $configExe 2>&1 &&
$configExe 2>&1");
passthru("/bin/rm -f $configExe");
echo "</font>";

?>
</pre>

  <br>
  <br>
  <li>
  We now try to execute a simple c++ program that uses Epetra. The program is:
<pre>
#include &#060iostream>
#include "Epetra_ConfigDefs.h"
#include "Epetra_SerialComm.h"

int main(int argc, char* argv[])
{
  Epetra_SerialComm Comm;
  std::cout << Comm;
  return(EXIT_SUCCESS);
}
</pre>
  The output is reported below, and it should contain the printout of the
  Epetra communicator object.
  If it does not, please check your installation, then reload this page.
<pre>
<?
$program = "";
$program .= "#include <iostream>\n";
$program .= '#include "Epetra_ConfigDefs.h"' . "\n";
$program .= '#include "Epetra_SerialComm.h"' . "\n";
$program .= "int main(int argc, char* argv[]) {\n";
$program .= 'Epetra_SerialComm Comm;std::cout << Comm;';
$program .= " return(EXIT_SUCCESS); } \n";

global $TempDirectory;
global $INCLUDES;
global $LDFLAGS;
global $LIBS;
global $CXX;

$timestamp = date("y-m-d_H.i.s", time());

$configFileName = "$TempDirectory/WebTrilinos/$timestamp.cpp";
$configExe = "$TempDirectory/WebTrilinos/test3-$timestamp.exe";
if(!is_dir("$TempDirectory/WebTrilinos"))
  mkdir("$TempDirectory/WebTrilinos", 0777);

$configFile = fopen($configFileName, 'w')
  or die("can't open $configFileName: $php_errormsg");
if (-1 == fwrite($configFile, $program)) { 
  die("can't write to $configFileName: $php_errormsg"); }
fclose($configFile);

passthru("$CXX $configFileName $INCLUDES $LDFLAGS $LIBS -o $configExe 2>&1 &&
$configExe 2>&1");
passthru("/bin/rm -f $configExe");

?>
</pre>

<br>
<br>
<br>
<br>
<li>We now try a basic PyTrilinos command, by
executing the instruction 
<tt>python -c "from PyTrilinos import Epetra; comm = Epetra.PyComm(); print
  comm"</tt>. You should see something like <tt>::Processor 0 of 1 total
processors.</tt> If you don't see it, check your installation.
Please also verify that the are no line breaks in your
<pre>
<?
global $PYTHONPATH;

$command = "";
if ($PYTHONPATH != "")
  $command .= "PYTHONPATH=$PYTHONPATH ";
$command .= 'python -c "from PyTrilinos import Epetra; comm = Epetra.PyComm(); print comm" 2>&1';
echo "<font color=blue>";
passthru($command);
echo "</font>";
?>
</pre>

<br>
<br>
<li>We now try to import all the required PyTrilinos packages, by
executing the instruction 
<tt>python -c "from PyTrilinos import Epetra, EpetraExt, Amesos, IFPACK,
  AztecOO, ML</tt>. Nothing should be printed on screen; if an error arises, please check
your installation.
<pre>
<?
global $PYTHONPATH;

$command = "";
if ($PYTHONPATH != "")
  $command .= "PYTHONPATH=$PYTHONPATH ";
$command .= 'python -c "from PyTrilinos import Epetra, EpetraExt, Amesos, IFPACK, AztecOO, ML" 2 > &1';
echo "<font color=blue>";
passthru($command);
echo "</font>";
?>
</pre>

</ol>

<br>
<br>
If everything is fine, then you should be able to use WebTrilinos!
Go back to the installed <a href="../index.html">WebTrilinos page</a> and test the C++, Python
and MatrixPortal module!
<br>
<br>
<p>For more details, please check the official
<a href=http://trilinos.sandia.gov/packages/webtrilinos>WebTrilinos'
  web page</a>.
