<!--
************************************************************************

              WebTrilinos: A Web Interface to Trilinos
                 Copyright (2006) Sandia Corporation

Under terms of Contract DE-AC04-94AL85000, there is a non-exclusive
license for use of this work by or on behalf of the U.S. Government.

This library is free software; you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of the
License, or (at your option) any later version.
 
This library is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
 
You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301
USA

Questions about WebTrilinos? Contact Marzio Sala (marzio.sala _AT_ gmail.com)

************************************************************************
-->

<?php 
  include '../common/header.php';
  include '../common/util.php';
  setBodyAttributes('onload="grabFocus();"'); 
  setFilename('index.html');
  setTitle('Matrix Portal -- Custom Code');
  include '../common/config.php';
  include '../common/header.html';
  include '../util.php';

  logFile("c++/index.html");

  if ($_POST["rows"] == "") $rows = 20; else $rows = $_POST["rows"];
  if ($_POST["cols"] == "") $cols = 80; else $cols = $_POST["cols"];
?>

<script type="text/javascript"> versionOK = false </script>
<script type="text/javascript; version=1.5"> versionOK = true </script>
<script type="text/jscript">
if (parseFloat(ScriptEngineMajorVersion() + "." + ScriptEngineMinorVersion()) >= 5.5) versionOK = true
</script>

<script type="text/javascript">
  if (versionOK) {
    // edit lines below to change the output style
    comment       = {color:"#999990", bold:false, italic:true, name:"comment"} // comment blocks and lines
    precompiler   = {color:"#000099", bold:false, italic:false, name:"pre"} // precompiler lines
    operator      = {color:"#663300", bold:true,  italic:false, name:"operator"} // operator and punctuator symbols
    stringLiteral = {color:"#009900", bold:false, italic:false, name:"string"} // string and wide char string literals
    charLiteral   = {color:"#009900", bold:false, italic:false, name:"char"} // char and wchar_t literals
    intLiteral    = {color:"#999900", bold:false, italic:false, name:"int"} // integer literals
    floatLiteral  = {color:"#996600", bold:false, italic:false, name:"float"} // floating point literals
    boolLiteral   = {color:"#000000", bold:true, italic:false, name:"bool"} // boolean literals
    types         = {color:"#FF6633", bold:false, italic:false, name:"type"} // built-in type names
    flowControl   = {color:"#FF0000", bold:false, italic:false, name:"flow"} // program flow control keywords 
    keyword       = {color:"#990000", bold:false, italic:false, name:"keyword"} // other keywords
  }
</script>
<script type="text/javascript" src="highlight.js"> </script>

<!-- begin content ######################################################### -->

<b>C++ Code Page</b><a href="help.html"
    onclick='window.open(this.href,null,"height=400,width=400,status=yes,toolbar=no,menubar=no,location=no"); return false;' 
    class="help">?</a></p>


<p>
<form method="POST" action=index.html>
  Insert template <select name=template>
<option name=template value="">-- select -- </option>
<option value=Epetra_Comm>Using Epetra_Comm</option>
<option name=template value=Epetra_Map>Using Epetra_Map</option>
<option name=template value=Epetra_Vector>Using Epetra_Vector</option>
<option name=template value=Epetra_MultiVector>Using Epetra_MultiVector</option>
<option name=template value=Epetra_CrsMatrix>Using Epetra_CrsMatrix</option>
<option name=template value=Epetra_FECrsMatrix>Using Epetra_FECrsMatrix</option>
<option name=template value=Epetra_VbrMatrix>Using Epetra_VbrMatrix</option>
<option name=template value=Amesos>Using Amesos</option>
<option name=template value=AztecOO>Using AztecOO</option>
<option name=template value=IFPACK>Using IFPACK with AztecOO</option>
<option name=template value=ML>Using ML with AztecOO</option>
</select>&nbsp;
<input type=submit class=submitPrimary value=Insert name="mode">&nbsp;&nbsp;or&nbsp;&nbsp;
<input type=submit class=submitPrimary value="Reset Code" name="mode">
<p>Text area with 
<select name=rows>
  <? global $rows; echo "<option value=$rows>$rows</option>"; ?>
  <? for ($i = 10; $i < 200; $i+=10)
  echo "<option value=$i>$i</option>"; ?>
</select>&nbsp;rows and 
<select name=cols>
  <? global $cols; echo "<option value=$cols>$cols</option>"; ?>
  <? for ($i = 10; $i < 200; $i+=10)
  echo "<option value=$i>$i</option>"; ?>
</select>&nbsp;columns.
<input type=submit class=submitPrimary value="Redisplay" name="mode">

<br>
<P>Please type your C++ code below.
<?
global $ENABLE_MPI;
global $MAX_PROCS;
if ($ENABLE_MPI == TRUE) {
 echo "Run with ";
 echo "<select name=NumProcs>";
   if ($_POST["NumProcs"] != "")
   { 
     $NumProcs = $_POST['NumProcs'];
     echo "<option value=$NumProcs>$NumProcs</option>";
   }
   for ($i = 1; $i <= $MAX_PROCS; ++$i) {
   echo "<option value=$i>$i</option>";
   }
   echo "</select>";
   }   ?>
   <br>
<p><textarea NAME="code" COLS=<? global $cols; echo $cols; ?>
  ROWS=<? global $rows; echo $rows; ?>>
<? if ($_POST["mode"] == "Insert") {
if ($_POST["template"] == "Epetra_Comm") {
  include 'epetra/ex_Comm.cpp';
} else if ($_POST["template"] == "Epetra_Map") {
  include 'epetra/ex_Map.cpp';
} else if ($_POST["template"] == "Epetra_Vector") {
  include 'epetra/ex_Vector.cpp';
} else if ($_POST["template"] == "Epetra_MultiVector") {
  include 'epetra/ex_MultiVector.cpp';
} else if ($_POST["template"] == "Epetra_CrsMatrix") {
  include 'epetra/ex_CrsMatrix.cpp';
} else if ($_POST["template"] == "Epetra_FECrsMatrix") {
  include 'epetra/ex_FECrsMatrix.cpp';
} else if ($_POST["template"] == "Epetra_VbrMatrix") {
  include 'epetra/ex_VbrMatrix.cpp';
} else if ($_POST["template"] == "Amesos") {
  include 'amesos/ex_simple.cpp';
} else if ($_POST["template"] == "AztecOO") {
  include 'aztecoo/ex_simple.cpp';
} else if ($_POST["template"] == "IFPACK") {
  include 'ifpack/ex_simple.cpp';
} else if ($_POST["template"] == "ML") {
  include 'ml/ex_simple.cpp';
} 
}  else if ($_POST["mode"] != "Reset Code") echo $_POST["code"]; 
?>
</textarea>
<p><input type=submit class=submitSecondary value="Run Code" name="mode">&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="button" id="convert" class=submitPrimary value="Color Code" onclick="colorCode(this.form);" />
</form>

<?
if ($_POST["mode"] == "Run Code")
{
  global $TempDirectory;

  echo '<p>Compiler errors are reported below';
  echo '<div class=outputBox><pre>';

  $timestamp = date("y-m-d_H.i.s", time());

  if (!is_dir("$TempDirectory/WebTrilinos")) mkdir("$TempDirectory/WebTrilinos");

  $configFileName = "$TempDirectory/WebTrilinos/$timestamp.cpp";

  $configFile = fopen($configFileName, 'w')
    or die("can't open $configFileName: $php_errormsg");
  if (-1 == fwrite($configFile, $_POST["code"])) { 
    die("can't write to $configFileName: $php_errormsg"); }
  fclose($configFile) 
    or die("can't close $configFileName: $php_errormsg");
  chmod($configFileName, 0664);

  global $INCLUDES;
  global $LDFLAGS;
  global $LIBS;
  global $CXX;

  $command .= "$CXX $configFileName $INCLUDES $LDFLAGS $LIBS ";
  $command .= "-DHAVE_CONFIG_H -o $TempDirectory/WebTrilinos/$timestamp.exe 2>&1";

  passthru($command);
  echo '</pre></div>';

  echo '<p>The output of the code is reported below.<p>';
  echo '<p><div class=outputBox><pre>';

  $command = "cd $TempDirectory/WebTrilinos;";
  $command.= "./$timestamp.exe 2>&1 ";

  passthru($command);

  echo '</pre></div>';
}
?>

<!-- end content ########################################################### -->

<?php include '../common/footer.html'; ?>
