<!--
************************************************************************

              WebTrilinos: A Web Interface to Trilinos
                 Copyright (2006) Sandia Corporation

Under terms of Contract DE-AC04-94AL85000, there is a non-exclusive
license for use of this work by or on behalf of the U.S. Government.

This library is free software; you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of the
License, or (at your option) any later version.
 
This library is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
 
You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301
USA

Questions about WebTrilinos? Contact Marzio Sala (marzio.sala _AT_ gmail.com)

************************************************************************
-->

<img src=img/webtrilinos_logo.jpg height=60>

<br>
<hr>
<br>

<h1>Welcome to WebTrilinos!</h1>

<p>This is the default home page of your personal installation of WebTrilinos.
First, you have to fix a few things, and specify a few installation
parameters. Please follow the links below and the contained instructions.
<ul>
  <li>Check the <a href=common/basic.html>basic requirements</a>.</li>
  <li>Go to the <a href=common/setup.html>setup page</a>.</li>
  <li>Check the <a href=common/testing.html>testing</a>.</li>
</ul>
<b>Important note:</b> Remember to add a password protection to the directories 
  <tt>WebTrilinos/c++</tt> and <tt>WebTrilinos/python</tt>! Instructions
on how to do it can be found, for example,  
<a href=http://httpd.apache.org/docs/1.3/howto/auth.html>here</a>. 
<br>
<p>At this point you can use your installation of WebTrilinos. Currently,
WebTrilinos offers the following three modules:
<ol>
  <li><a href=MatrixPortal/index.html>Matrix Portal</a>: a guided problem
  solving environment (PSE) for the direct and iterative solution of sparse
  linear systems. You can either use already-defined model problems, or upload
  you own problem, in Harwell/Boeing or XML format. MatrixPortal allows you to
  solve an arbitrary number of problems, and each problem can be solved using
  different techniques.
  <li><a href=c++/index.html>The C++ interface</a>: a development
  environment for testing basic Trilinos programs, without having to install
  any Trilinos package. Several basic examples for several Trilinos packages are
  included.
  <li><a href=python/index.html>The Python interface</a>: as for the C++
  interface, but for testing PyTrilinos. Examples of usage of PyTrilinos are
  included.
</ol>
<br>
<p>For more details, please check the official
<a href=http://trilinos.sandia.gov/packages/webtrilinos>WebTrilinos'
  web page</a>.
